{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block ariane %}
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{path('accueil')}}">Accueil</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="{{path('formations')}}">formations</a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content_title %}
<h1>Nombre de stages disponible par formation</h1>
{%  endblock %}

{% block content_block %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom de la formation</th>
      <th scope="col">Nombre de stages</th>
    </tr>
  </thead>
  <tbody>
    {% for formation in formationList %}
    <tr>
      <th scope="row">{{loop.index + 1}}</th>
      <td>{{formation.intitule}}</td>
      <td>{{formation.stages | length}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
