{% extends 'base.html.twig' %}

{% block body %}
<div >
    <h1>Bienvenue sur l'application ProStages </h1>

    <p>Les différents stages accessibles pour le moment :</p>
    <ul>
      <li><a href="{{path('presentationStage', {idStage:1})}}">stage 1</a></li>
      <li><a href="{{path('presentationStage', {idStage:2})}}">stage 2</a></li>
      <li><a href="{{path('presentationStage', {idStage:3})}}">stage 3</a></li>
      <li><a href="{{path('presentationStage', {idStage:4})}}">stage 4</a></li>
      <li><a href="{{path('presentationStage', {idStage:5})}}">stage 5</a></li>
    </ul>
</div>
{% endblock %}
