{% extends 'base.html.twig' %}

{% block title %}Accueil - Liste des stages{% endblock %}

{% block content_title %}
<h1>Bienvenue sur l'application ProStages </h1>
{% endblock %}

{% block content_block %}
<div >

    <p>Les différents stages accessibles pour le moment :</p>
    <div class="list-group">
      <a href="{{path('presentationStage', {idStage:1})}}" class="list-group-item list-group-item-action"><span class="badge bg-secondary">New</span>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Stage 1</h5>
          <small>Formation : [formation]</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <small>Nom de l'entreprise (nom, activité)</small>
          <small>Contact : adresse@mail.fr</small>
        </div>
        <p class="mb-1">Description bla bla kdjeQHDLJKQHNLKJHQFJKREHNLUSIERYFSJKELHkjhsqrljkfdhjsmljkrfhsdmjhgfuesdhgkjdhfqlikuhfqljkshfd</p>
      </a>
      <a href="{{path('presentationStage', {idStage:2})}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Stage 2</h5>
          <small>Formation : [formation]</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <small>Nom de l'entreprise (nom, activité)</small>
          <small>Contact : adresse@mail.fr</small>
        </div>
        <p class="mb-1">Description bla bla kdjeQHDLJKQHNLKJHQFJKREHNLUSIERYFSJKELHkjhsqrljkfdhjsmljkrfhsdmjhgfuesdhgkjdhfqlikuhfqljkshfd</p>
      </a>
      <a href="{{path('presentationStage', {idStage:3})}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Stage 1</h5>
          <small>Formation : [formation]</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <small>Nom de l'entreprise (nom, activité)</small>
          <small>Contact : adresse@mail.fr</small>
        </div>
        <p class="mb-1">Description bla bla kdjeQHDLJKQHNLKJHQFJKREHNLUSIERYFSJKELHkjhsqrljkfdhjsmljkrfhsdmjhgfuesdhgkjdhfqlikuhfqljkshfd</p>
      </a>
      <a href="{{path('presentationStage', {idStage:4})}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Stage 1</h5>
          <small>Formation : [formation]</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <small>Nom de l'entreprise (nom, activité)</small>
          <small>Contact : adresse@mail.fr</small>
        </div>
        <p class="mb-1">Description bla bla kdjeQHDLJKQHNLKJHQFJKREHNLUSIERYFSJKELHkjhsqrljkfdhjsmljkrfhsdmjhgfuesdhgkjdhfqlikuhfqljkshfd</p>
      </a>
      <a href="{{path('presentationStage', {idStage:5})}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Stage 1</h5>
          <small>Formation : [formation]</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <small>Nom de l'entreprise (nom, activité)</small>
          <small>Contact : adresse@mail.fr</small>
        </div>
        <p class="mb-1">Description bla bla kdjeQHDLJKQHNLKJHQFJKREHNLUSIERYFSJKELHkjhsqrljkfdhjsmljkrfhsdmjhgfuesdhgkjdhfqlikuhfqljkshfd</p>
      </a>
    </ul>
</div>
{% endblock %}
